* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

nav, .nav-links {
  display: flex;
}

.business-title{
  padding: 15px;
  color: #103c81; /* Original color */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

nav {
  justify-content: space-between;
  align-items: center;
  height: 13vh;
  position: relative; /* Ensures nav bar is above other elements */
  z-index: 10; /* High stacking order */
  background-color: white;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

.logo {
  width: 80px;
  height: 80px;
  margin-left: 10px;
  border-radius: 50px;
}

#desktop-nav, .nav-links {
  background-color: white;
}

a {
  transition: all 300ms ease;
  color: #103c81; /* Original color */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);  text-decoration: none;
  font-size: medium;
}


a:hover {
  
  color: #000000; /* Red background on hover */
}

.contact-link {
  margin-right: 50px;
}

/* Hamburger Menu */
#hamburger-nav {
  display: none;
}

.a-menu {
  color: black;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
  margin-right: 50px;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3s ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.menu-links a {
  
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: #0932DF; /* Blue links */
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.menu-links a:hover{
  color: #FF3131;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
}
