*{
  margin: 0px;
  padding: 0px;
}
.hero-container{
  display: flex;
  justify-content: start;
  align-items: center;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 40rem;
}
.hero-text-container{
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  height: 40rem;
  width: 40rem;
  margin-left: 10%;
}
.hero-title{
  font-size: 40px;
  font-weight: 800;
  font-family: 'Inria Serif', Courier, monospace;
  color: white;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}
.hero-description{
  font-size: 20px;
  font-weight: 300;
  font-family: 'Inria Serif', Courier, monospace;
  color: 1F0C28;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.5);
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 28px;
  }

  .hero-description {
    font-size: 16px;
  }

  .hero-text-container {
    width: 90%;
    margin-left: 5%;
  }
}

@media (min-width: 1400px) {
  .hero-text-container {
    margin-left: 17%;
  }
}