* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  .qual-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Vertically centers items */
    background: white;
    min-height: 100vh; /* Full viewport height */
    padding: 20px;
    box-sizing: border-box;
  }

  .qual-columns{
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensures images have space between them */
    align-items: center; /* Aligns the images vertically if needed */
    width: 100%;
    max-width: 1200px; /* Adjust this based on your layout */
    gap: 30px; /* Space between images */
  }

  .qual-top{
    display: flex;
  }

  .qual-bottom{
    
  }
  
  .img1, .img2, .img3 {
    flex: 1; /* Allow images to take equal space */
    display: flex;
    justify-content: center;
  }
  
  .qual-image {
    max-width: 90%; /* Make image responsive */
    max-height: 400px; /* Adjust the height of the image */
    object-fit: contain; /* Ensure image is not distorted */
    border: 1px solid #ccc; /* Optional: Adds a border to the image */
    padding: 5px; /* Optional: Space inside the border */
    margin: 10px; /* Space around the image */
  }
  
  .qual-header {
    font-size: 2.5rem;
    color: #F7B32B;
    margin-bottom: 20px; /* Add some margin below the header */
  }