* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  
}

html {
  scroll-behavior: smooth;
}

.home-page-container {
  display: flex;
  align-items: center; /* Vertically centers items */
  justify-content: center; /* Horizontally centers items */
  background-image: url('./src/assets/eagle-flag.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  text-align: center;
  color: white;
  position: relative;
  padding: 20px; /* Add padding for spacing */
}

.text-overlay {
  background: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 10px;
  max-width: 800px;
  text-align: center;
}

.american-dream-header {
  margin: 0 auto 50px auto;
  color: black;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.05em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ensure text is readable */
}

.home-main-paragraph {
  font-size: x-large;
  color: #000000;
  margin-top: 20px;
  line-height: 1.6;
  letter-spacing: 0.05em;
  word-spacing: 0.1em;
  padding: 0 10px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.7); /* Ensure text is readable */
}

/* Media Queries for Responsive Design */

@media (max-width: 600px) {
  .text-overlay {
    padding: 15px;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .text-overlay {
    padding: 25px;
  }
}

@media (min-width: 1025px) {
  .text-overlay {
    padding: 35px;
  }
}
